<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">

	<!--循环依赖问题-->
<!--	<bean id="lagouBean" class="com.pyip.edu.LagouBean">-->
<!--&lt;!&ndash;		<property name="ItBean" ref="itBean"/>&ndash;&gt;-->
<!--	</bean>-->
<!--	<bean id="itBean" class="com.pyip.edu.ItBean">-->
<!--&lt;!&ndash;		<property name="LagouBean" ref="lagouBean"/>&ndash;&gt;-->
<!--	</bean>-->


	<bean id="myBeanFactoryPostProcessor" class="com.pyip.edu.MyBeanFactoryPostProcessor"/>
	<bean id="myBeanPostProcessor" class="com.pyip.edu.MyBeanPostProcessor"/>


	<bean id="lagouBean" class="com.pyip.edu.LagouBean"/>


	<!--aop配置-->
	<!--横切逻辑-->
	<!--<bean id="logUtils" class="com.lagou.edu.LogUtils">
	</bean>

	<aop:config>
		<aop:aspect ref="logUtils">
			<aop:before method="beforeMethod" pointcut="execution(public void com.lagou.edu.LagouBean.print())"/>
		</aop:aspect>
	</aop:config>-->


</beans>